@model List<gerenciadorTarefas.Models.TarefaModel>

@{
    var tarefasAFazer = Model.Where(t => t.State == EstadoTarefa.AFazer).ToList();
    var tarefasFazendo = Model.Where(t => t.State == EstadoTarefa.Fazendo).ToList();
    var tarefasPronto = Model.Where(t => t.State == EstadoTarefa.Pronto).ToList();
}

<div class="row justify-content-center">
    <!-- Coluna A Fazer -->
    <div class="col-md-3">
        <div class="card border-secondary">
            <div class="card-header text-center bg-light">A Fazer</div>
            <div class="card-body">
                @foreach (var tarefa in tarefasAFazer)
                {
                    @Html.Partial("_CardTarefa", tarefa)
                }
            </div>
        </div>
    </div>
    <!-- Coluna Fazendo -->
    <div class="col-md-3">
        <div class="card border-warning">
            <div class="card-header text-center bg-light">Fazendo</div>
            <div class="card-body">
                @foreach (var tarefa in tarefasFazendo)
                {
                    @Html.Partial("_CardTarefa", tarefa)
                }
            </div>
        </div>
    </div>
    <!-- Coluna Pronto -->
    <div class="col-md-3">
        <div class="card border-success">
            <div class="card-header text-center bg-light">Pronto</div>
            <div class="card-body">
                @foreach (var tarefa in tarefasPronto)
                {
                    @await Html.PartialAsync("_CardTarefa", tarefa)
                }
            </div>
        </div>
    </div>
</div>
